* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/natural-pattern.png);
  width: 100%;
  padding: 10px;

}
.container {
  width: 85%;
  margin: 0 auto;
}

/* header */
header {
  position: relative;
  height: 200px;
  border: 5px solid white;
  /* background-color: rgba( 0, 0, 0, 0.3); */

}
.forest-content {
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  background-position: center;
}
.logo {
  position: absolute;
  height: 110px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.layover h2 {
  position: absolute;
  top:80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
}
/* fine header */

/* navbar */
.menu {
  height: 51px;
  line-height: 48px;
  background-color: #504741;
  margin-bottom: 10px;
}
.menu-list {
  list-style: none;
  text-align: center;
}
.menu ul li {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  border-left: 1px solid rgba(192, 192, 192, 0.2);
  border-right: 1px solid #302B27;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}
.menu ul li:last-child {
  border-right: none;
}
.menu ul li:first-child {
  border-left: none;
}
.menu ul li:hover {
  background-color: #302B27;
}
/* fine navbar */


/* main */
main {


}
main::after {
  content: "";
  display: table;
  clear: both;
}

/* colonna sx */
.float-left{
  float: left;
  padding: 1%;
  border-radius: 2%;
}
.col-left {
  width: 20%;
  background-color: #fff;
}
.title-list:hover {
  content: "";
  display: table;
  clear: both;
}
.title-list{
  margin-bottom: 10px;
}

.title-list i,
.title-list h3 {
  float: left;
}
.title-list i {
  color: #FFA500;
  font-size: 20px;
}
.title-list h3 {
  width: 60%;
  font-family: Roboto;
  font-weight: lighter;
  text-transform: capitalize;
  padding-left: 5px;
  color: #504741;
}
.list-col {
  list-style: none;
}
.list-col li  {
  margin-bottom: 5px;
}
.list-col li a {
  text-decoration: none;
  font-family: Roboto;
  font-size: 12px;
  color: #98FB98;
}
.list-col li a:hover {
  text-decoration: underline;
}
/* fine colonna sx */

/* colonna centrale */
.col-center {
  width: 50%;
  padding: 10px;
  background-color: #fff;
  margin: 0 5%;
}
.col-center .title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: lighter;
  text-shadow: 2px 2px 2px #302A25;
  color: #504741;
  text-transform: uppercase;
}

.col-center p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
}
/* fine colonna centrale */

/* colonna destra */
.col-last {
  width: 20%;
}
.widget {
  width: 100%;
  padding: 5%;
  border-radius: 2%;
  background-color: #fff;
  margin-bottom: 10px;
  overflow: visible;
}
.widget .title {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: lighter;
  text-shadow: 2px 2px 2px #302A25;
  color: #504741;
  text-transform: capitalize;
}
.widget p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
}

/* fine colonna destra */

/* fine main */

/* footer */
footer {
  width: 100%;
  height: 70px;
  margin: auto;
  background-color: #fff;
  border-radius: 5%;
}
.top-footer {
  text-align: center;
  color: lightgrey;
  font-style: italic;
  border-bottom: 1px solid lightgrey;
}
.footer-bottom::after {
  content: "";
  display: table;
  clear: both;
}
.footer-bottom .footer-col{
  float: left;
  padding: 10px;
  width: calc(100% / 3);
  text-align: center;
  font-size: 30px;
  color: lightgrey;
}
/* fine footer */
